{
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended"
	],
	"rules": {
        "comma-dangle": [1, "never"],
        "no-console": 0,
		"no-empty": 1,
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "no-trailing-spaces": 1,
		"strict": [0, "global"]
	},
	"ecmaFeatures": {
	},
	"env": {
		"es6": true,
		"node": true,
		"mocha": true
	},
	"globals": {
		"arguments": true,
		"expect": true,
		"sinon": true
	}
}
